name: fedvul
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pip:
    - torch
    - torchvision
    - torchaudio
    - transformers
    - accelerate
    - networkx
    - tree_sitter
    - slither-analyzer
    - torch-geometric
    - fedml
    - wandb
